pkgbase = stig-ekman-git
	pkgdesc = TUI and CLI client for the Transmission daemon
	pkgver = v0.12.7a0.r67.g5203c52f
	pkgrel = 3
	url = https://github.com/rndusr/stig
	arch = any
	license = GPL
	makedepends = python-setuptools
	depends = python
	depends = python-urwid
	depends = python-urwidtrees
	depends = python-aiohttp
	depends = python-pyxdg
	depends = python-blinker
	depends = python-natsort
	depends = python-bidict
	optdepends = python-pprofile: profiling
	optdepends = python-setproctitle: prettifies the process name
	provides = stig=v0.12.7a0.r67.g5203c52f
	conflicts = stig
	conflicts = stig-git
	source = git+https://github.com/rsekman/stig.git#branch=ekman
	sha256sums = SKIP

pkgname = stig-ekman-git
