pkgbase = stig-ekman-git
	pkgdesc = TUI and CLI client for the Transmission daemon
	pkgver = v0.12.9a0.r74.geb0003a8
	pkgrel = 2
	url = https://github.com/rndusr/stig
	arch = any
	license = GPL
	makedepends = python-setuptools
	depends = python
	depends = python-urwid>=2.6.12
	depends = python-urwidtrees
	depends = python-aiohttp
	depends = python-pyxdg
	depends = python-blinker
	depends = python-natsort
	depends = python-bidict
	optdepends = python-pprofile: profiling
	optdepends = python-setproctitle: prettifies the process name
	provides = stig=v0.12.9a0.r74.geb0003a8
	conflicts = stig
	conflicts = stig-git
	source = git+https://github.com/rsekman/stig.git#branch=ekman
	sha256sums = SKIP

pkgname = stig-ekman-git
